@import 'https://fonts.googleapis.com/css?family=Raleway';


@font-face {
  font-family: myFirstFont;
  src: url(font-stanley.ttf);
}

@font-face {
  font-family: dobkin;
  src: url(dobkin.ttf);
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* @font-face {
  font-family: amanda;
  src: url(amanda.ttf);
} */

html,body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    background-color:#0c0c0c;
    height: 100%;
  }
  .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    /* background-size: auto auto; */
    /* background-color: rgba(77, 82, 86, 0.2); */
    background-blend-mode: soft-light;
    /* background-size: 100% 155%; */
  }

.navcontainer
{
    /* font-family: Raleway; */
	text-align: center;
}

.navcontainer a
{
    color:white;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Border X get width  */
.borderXwidth a:before, .borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth a:hover:before, .borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.service-box {
    /* text-align: center;
    box-shadow: var(--shadpw);
    border-radius: 5px;
    padding: 1rem; */
    transition: all 0.3s linear;
    /* height: 100%; */
  }

.service-box:hover {
    /* transform: translateY(-3rem); */
    transform: scale(1.1);
    z-index: 5;
    cursor: pointer;
  }

  #chat {
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 50px;
    width: 50px;
    line-height: 45px;
    border-radius: 50%;
    /* background-color: rgba(16, 16, 45, 1); */
    background-color:white;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    /* display: none; */
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#chat > img {
    /* display: block; */
    height: 60%;
    /* font-size: 20px; */
    color: #fff;
    margin: 0 auto;
    padding: auto;
}
#chat:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

  .chat_icon{
    position: fixed;
    right: 30px;
    bottom: 10px;
    width: 60px;
    z-index: 1000;
    cursor: pointer;
}

.modal.custom .modal-dialog {
    position:fixed;
    bottom:0;
    right:0;
    margin:0;
}

.modal-backdrop {
    background-color: transparent !important;
  }

  .bg-ath {
    background-color: #e6b58d;
}

@media only screen and (max-width: 1200px) {
    .chatbot-box {
        width: 35%;
        height: 50%;
    }
  }

@media only screen and (max-width: 950px) {
    .chatbot-box {
        width: 45%;
        height: 45%;
    }
  }

  @media only screen and (max-width: 650px) {
    .chatbot-box {
        width: 65%;
        height: 50%;
    }
  } 

  @media only screen and (max-width: 400px) {
    .chatbot-box {
        width: 75%;
        height: 50%;
    }
  } 

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}


  .name {
    color: blue;
  }
  
  .work {
    font-weight: bold;
    font-size: 15px;
  }
  
  .about span {
    font-size: 13px;
  }
  
  .v-profile {
    color: blue;
    cursor: pointer;
  }
  
  .box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  }

  .img-athenova{
    height:70%;
    width:50%;
    margin-top: 3%;
  }

  .text-athenova{
    font-family: sans-serif;
    color: #e6b58d;
  }

  @media only screen and (max-width: 1000px) {
    .img-athenova {
      height:60%;
      width:50%;
      margin-top: 7%;
    }
  }

  @media only screen and (max-width: 778px) {
    .img-athenova {
      height:60%;
      width:60%;
      margin: 8%;
    }
  } 

  @media only screen and (max-width: 580px) {
    .img-athenova {
      height:50%;
      width:80%;
      margin: 8%;
    }
  } 

  @media only screen and (max-width: 400px) {
    .text-athenova{
      font-size: small;
    }
  } 


  .ath{
    font: italic;
    color: #e6b58d;
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }

  .scrollmenu img {
    display: inline-block;
    text-align: center;
  }


  .media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
  
    padding: 0 var(--_spacer) var(--_spacer);
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  
  .media-scroller--with-groups {
    grid-auto-columns: 80%;
  }
  
  .media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  }
  
  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }
  
  .media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  
  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
  
  .snaps-inline > * {
    scroll-snap-align: start;
  }
  
  
  .container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
  }
  
  .flow {
    display: grid;
    gap: var(--size-3);
  }
  


.stfont{
  font-family: myFirstFont;
}

