{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}

<style>
    /* .img-resize{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    margin-top: 8%;
    cursor: pointer;
  } */

  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

</style>

<div class="container-fluid" style="font-family: amanda;">

  <h1 style="color: #e6b58d;" class="text-center my-3">About Us </h1>
  <p class="lead" style="color: #e6b58d; font-size: 2rem;">Nurturing people and inspiring
    lifestyle changes through skill
    and performance based fitness
    programs.</p>
  <p class="lead" style="color: #e6b58d;">We are a lifestyle and performance center located in the heart
    of Pune city. We offer certified, high quality skilled based
    classes and private training programs that are tailored made to
    the client and corporate requirements.</p>
  <p class="lead" style="color: #e6b58d;">Athenova Fit has a combined 10 years of experience thanks to
    the trainers, founders and independent instructors who call this
    space their fitness hub. We are a team of like-minded individuals
    who are passionate about fitness and mindset.</p>
  <p class="lead" style="color: #e6b58d;">We strive to help clients meet their goals and be part of their
    fitness journey and discovery.</p>

  <div class="container text-center mt-5 mb-2">
    <h1 class="mb-0" style="color: #e6b58d;">Meet the Owners</h1>
  </div>
  <!-- <span style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</span> -->
</div>


<div class="container mt-3 mb-3" style="font-family: amanda;">
  <div class="row">
   <!-- Team Member 2 -->
   <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-0 shadow">
      <img src="{% static 'images/simona.png' %}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title mb-0">Simona Jadronova</h5>
        <div class="card-text text-black-50">Pilates Instructor, 3D anatomy</div>
      </div>
    </div>
  </div>
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/dummy.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vishal Seth</h5>
          <div class="card-text text-black-50">Personal Trainer</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/dummy.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sue Ellen Castellino</h5>
          <div class="card-text text-black-50">Personal Trainer</div>
        </div>
      </div>
    </div>
 
  </div>
</div>

<div class="container text-center mt-5 mb-2" style="font-family: amanda;">
  <h1 class="mb-0" style="color: #e6b58d;">Meet the Team</h1>
</div>

<div class="row text-center justify-content-center"> 



  <div class="col-xl-4 col-sm-6 mb-5" style="height: 100%;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="{% static 'images/dummy.jpg' %}" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Simona Jadronova</h5><span class="small text-uppercase text-muted">Personal Trainer</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>


  <div class="col-xl-4 col-sm-6 mb-5" style="height: 100%;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="{% static 'images/dummy.jpg' %}" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Vishal Seth</h5><span class="small text-uppercase text-muted">Personal Trainer</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>


  <div class="col-xl-4 col-sm-6 mb-5" style="height: 100%;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="{% static 'images/dummy.jpg' %}" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Sue Ellen Castellino</h5><span class="small text-uppercase text-muted">Personal Trainer</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-5" style="height: 100%;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="{% static 'images/dummy.jpg' %}" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Karan Unchavale</h5><span class="small text-uppercase text-muted">Personal Trainer</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="col-xl-4 col-sm-6 mb-5" style="height: 100%;">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="{% static 'images/dummy.jpg' %}" height=" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Shridhar Gaikwad</h5><span class="small text-uppercase text-muted">Personal Trainer</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>



  <!-- <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img
        src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
      <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div> -->



  <!-- <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/uppKNuF.jpg" width="90">
                <h5 class="mt-3 name">Samuel Plamer</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/oJmLthK.jpg" width="90">
                <h5 class="mt-3 name">Nancy Markus</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/HFpxxJz.jpg" width="90">
                <h5 class="mt-3 name">Martha Col</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/MZm1LNz.jpg" width="90">
                <h5 class="mt-3 name">Marry Jones</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div> -->
</div>


<div class="container-fluid" style="font-family: amanda;">
    
  <h1 style="color: #e6b58d;" class="text-center my-3">Our Vision </h1>
  <p class="lead" style="color: #e6b58d; font-size: 2rem;">To create a safe and energetic space to make people
    feel better, stronger and unlock personal/physical
    growth.</p>
  <p class="lead" style="color: #e6b58d;">Our goal is always to have people leave our facility or workshop with a
    smile on the face.</p>
  <p class="lead" style="color: #e6b58d;">It is important to inspire ourselves and others and of course motivate.
    Motivation helps us to thrive, become better, learn and be consistent.
    Positive energy helps us with that, transferring this energy onto others
    is the best gift one can do and inspiration comes along with it.</p>
  <p class="lead" style="color: #e6b58d;">For us, the performance and happiness of our clients is the top
    priority. We are essentially a community that prioritize our clients
    throughout their fitness journey.</p>
  <p class="lead" style="color: #e6b58d;">Out Motto: It's never late to start something new, to learn something
    new, to be better than yesterday.</p>
  
  </div>

{% endblock %}