{% extends 'base.html' %}

{% block bodyContent %}
<div class="container-fluid">
    
  <!-- <h1 style="color: white;"> contact </h1> -->
  
  <!--Section: Contact v.2-->
<section class="mb-4" style="color: #e6b58d; font-family: amanda;">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4" >Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="{% url 'contactS' %}" method="POST">
            {% csrf_token %}
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6 my-2">
                      <div class="md-form mb-0">
                        <label for="name" class="">Your name</label>
                          <input type="text" id="name" style="background-color: rgb(240, 219, 219);" name="name" required class="form-control">
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6 my-2"> 
                      <div class="md-form mb-0">
                        <label for="email" class="">Your email</label>
                          <input type="text" id="email" style="background-color: rgb(240, 219, 219);" name="email" required class="form-control">
                      </div>
                  </div>
                  <div class="col-md-6 my-2"> 
                      <div class="md-form mb-0">
                        <label for="email" class="">Phone Number</label>
                          <input type="text" id="email" style="background-color: rgb(240, 219, 219);" name="number" required class="form-control">
                      </div>
                  </div>
                  <div class="col-md-6 my-2"> 
                      <div class="md-form mb-0">
                        <label for="email" class="">Subject</label>
                          <input type="text" id="email" style="background-color: rgb(240, 219, 219);" name="subject" class="form-control">
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <!-- <div class="row">
                  <div class="col-md-12 my-2">
                      <div class="md-form mb-0">
                        <label for="subject" class="">Subject</label>
                          <input type="text" id="subject" name="subject" class="form-control">
                      </div>
                  </div>
              </div> -->
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-3 my-2">

                    <div class="md-form">
                      <label for="message">Start Date</label>
                        <input type="Date" id="date" style="background-color: rgb(240, 219, 219);" name="date" class="form-control"></input>
                    </div>

                </div>
                  <div class="col-md-9 my-2">

                      <div class="md-form">
                        <label for="message">Your message</label>
                          <textarea type="text" id="message" style="background-color: rgb(240, 219, 219);" name="message" rows="2" class="form-control md-textarea"></textarea>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

              <input class="btn btn-primary text-center text-md-left my-2" style="background-color: blue;" type="submit" value="Send">
          
            </form>

          <!-- <div class="text-center text-md-left my-2">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div> -->
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fa fa-map-marker fa-2x"></i>
                  <p>Seth House complex, 3rd Floor, Sangamwadi, Bund
                    Garden road, Pune - 411001</p>
              </li>

              <li><i class="fa fa-phone mt-4 fa-2x"></i>
                  <p>+91 7020565763</p>
              </li>
              <li>
                  <p>
                    <a href="https://Instagram.com/athenovafit" style="margin-right: 10px;color: #e6b58d;text-decoration: none;"><i class="fa fa-instagram mt-4 fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/athenovafit" style="margin-right: 10px;color: #e6b58d;text-decoration: none;"><i class="fa fa-facebook mt-4 fa-2x"></i></a>
                    <a href="https://linkedin.com/athenovafit" style="margin-right: 10px;color: #e6b58d;text-decoration: none;"><i class="fa fa-linkedin mt-4 fa-2x"></i></a>
                  </p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->

  </div>

  {% endblock %}