{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css">

{% endblock %}

{% block bodyContent %}

<style>
  .img-resize {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center center;
  }

</style>
<h1 style="color:  #e6b58d;font-size:3rem;font-family: amanda;" class="text-center"> Events </h1>

<div class="container" style="color: #e6b58d;">
  <div class="content-column">
    <h2 class="list-title text-center">Upcoming Events</h2>
    <div class="events-listings jst">
      <div class="row">
        <div class="row row-m">
          <div class="col-md-2">
            <div>
              <h4 class="month-name">Nov 5 </h4>
              <h class="" style="font-size: small;"> wednesday </p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="event-title">
              <h3 class="title-name">Gratiot Lake Road and Troy Graham to perform at Trust Fall Records</h3>
            </div>
            <div class="event-details">
              <ul class="event-details-list">
                <li class="event-details-item">
                  <div>The Sinclair, Reed City</div>
                </li>
                <li class="event-details-item">
                  <div>8:00 AM</div>
                </li>
              </ul>
            </div>
            <div class="event-category">
              <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Community
                  Events</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img class="img-resize" src="{% static 'images/e1.jpg' %}" alt="">
          </div>
        </div>
        <div class="row row-m">
          <div class="col-md-2">
            <div>
              <h4 class="month-name">Nov 15 </h4>
              <h class="" style="font-size: small;"> wednesday </p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="event-title">
              <h3 class="title-name">Gratiot Lake Road and Troy Graham to perform at Trust Fall Records</h3>
            </div>
            <div class="event-details">
              <ul class="event-details-list">
                <li class="event-details-item">
                  <div>The Sinclair, Reed City</div>
                </li>
                <li class="event-details-item">
                  <div>8:00 AM</div>
                </li>
              </ul>
            </div>
            <div class="event-category">
              <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Community
                  Events</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img class="img-resize" src="{% static 'images/e2.jpg' %}" alt="">
          </div>
        </div>
        <div class="row row-m">
          <div class="col-md-2">
            <div>
              <h4 class="month-name">Nov 18 </h4>
              <h class="" style="font-size: small;"> wednesday </p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="event-title">
              <h3 class="title-name">Gratiot Lake Road and Troy Graham to perform at Trust Fall Records</h3>
            </div>
            <div class="event-details">
              <ul class="event-details-list">
                <li class="event-details-item">
                  <div>The Sinclair, Reed City</div>
                </li>
                <li class="event-details-item">
                  <div>8:00 AM</div>
                </li>
              </ul>
            </div>
            <div class="event-category">
              <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Community
                  Events</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img class="img-resize" src="{% static 'images/e3.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}