{% load static %}


<div class="col-md-12 pt-3 justify-content-center align-items-center text-center mb-2" style="background-color: rgba(0, 0, 0, 0.2);color: white; margin-top: 5%;">
  <div class=" flex-center my-2">

    <a class="fb-ic" href="https://www.facebook.com/athenovafit">
      <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="tw-ic" href="https://linkedin.com/athenovafit">
      <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a cslass="li-ic" href="https://linkedin.com/athenovafit">
      <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="ins-ic" href="https://Instagram.com/athenovafit">
      <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
  </div>
<!-- </div> -->


<!-- <div class="container"> -->
  <!-- <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
    style="background-color: rgba(0, 0, 0, 0.2); color: white; bottom: 0;">

    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="/" />
        </svg>
      </a>
      <span class="text-muted">&copy; Athenova Fit</span>
    </div>

    <p class="">
      <a href="https://Instagram.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
          class="fa fa-instagram mt-4 fa-2x mx-2" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
          class="fa fa-facebook mt-4 fa-2x mx-2"></i></a>
      <a href="https://linkedin.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
          class="fa fa-linkedin mt-4 fa-2x mx-2"></i></a>
    </p> -->
  <!-- </div> -->

  <!-- <div class=" flex-center  my-3">

    <a href="https://Instagram.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
      class="fa fa-instagram mt-4 fa-2x" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/athenovafit"
    style="margin-right: 10px;color:  white;text-decoration: none;"><i class="fa fa-facebook mt-4 fa-2x"></i></a>
  <a href="https://linkedin.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
      class="fa fa-linkedin mt-4 fa-2x"></i></a>

      <p>+91 7020565763</p>

  </div>   -->

  <!-- <div class="row">
    <div class="col-md-6"><i class="fa fa-map-marker fa-2x"></i>
      <p>Seth House complex, 3rd Floor, Sangamwadi, Bund
        Garden road, Pune - 411001</p>
    </div>
    <div class="col-md-4"><i class="fa fa-phone mt-4 fa-2x"></i>
      <p>+91 7020565763</p>
    </div>
    <div class="col-md-4">
      <p>
        <a href="https://Instagram.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
            class="fa fa-instagram mt-4 fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/athenovafit"
          style="margin-right: 10px;color:  white;text-decoration: none;"><i class="fa fa-facebook mt-4 fa-2x"></i></a>
        <a href="https://linkedin.com/athenovafit" style="margin-right: 10px;color:  white;text-decoration: none;"><i
            class="fa fa-linkedin mt-4 fa-2x"></i></a>
      </p>
    </div>

  </div> -->

  <div style="color: rgb(180, 175, 175);"> 
    © 2022 Copyright:
    <a class="" href="/" style="text-decoration: none; color: rgb(180, 175, 175);">Athenova Fit</a>
  </div>
</div>

  <!-- <div class="container">


  <nav class="navbar navbar-light navbar-expand-md justify-content-center mt-3">
    <a class="navbar-brand" href="/">
      <span style="font-style: italic; font-family: amanda; font-size: 1.5rem;"  class="ath " >
        Athenova Fit
      </span>
    </a>
    <button  class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span  style="color:  white !important;" class="navbar-toggler-icon"> <i class="fa fa-bars" style="color: white; font-size:24px;"></i></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100 navcontainer borderXwidth"  id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center" >
          <li class="nav-item">
            <a class="nav-link" style="color:  white !important; font-family: amanda;" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color:  white !important; font-family: amanda;"href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:  white !important; font-family: amanda;" href="{% url 'Programs' %}">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:  white !important; font-family: amanda;" href="{% url 'events' %}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:  white !important; font-family: amanda;" href="{% url 'gallery' %}">Gallery</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" style="color:  white !important; font-family: amanda;" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
    </div>
</nav>

  </div> -->