{% load static %}

<style>
.footer{
  position: sticky;
  top: 100%;
}
</style>

<div class="col-md-12 pt-3 justify-content-center align-items-center text-center mb-2 footer" style="background-color: rgba(0, 0, 0, 0.2);color: white; margin-top: 5%;">
  <div class=" flex-center my-2">

    <a class="fb-ic" href="https://www.facebook.com/athenovafit">
      <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="tw-ic" href="https://linkedin.com/athenovafit">
      <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a cslass="li-ic" href="https://linkedin.com/athenovafit">
      <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a class="ins-ic" href="https://Instagram.com/athenovafit">
      <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
  </div>

  <div style="color: rgb(180, 175, 175);"> 
    © 2022 Copyright:
    <a class="" href="/" style="text-decoration: none; color: rgb(180, 175, 175);">Athenova Fit</a>
  </div>
</div>
