{% extends 'base.html' %}
{% load static %}

{% block head %}

<style>
  .img-resize {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    margin-top: 8%;
    cursor: pointer;
  }
</style>

{% endblock %}

{% block bodyContent %}
<div class="container">

  <div class="container-fluid">

    <h1 style="color:  white;font-size:3rem;font-family: amanda;" class="text-center"> Gallery </h1>
    <!-- Gallery -->

    <div class="row">


      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/1.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/2.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/3.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/4.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/5.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/6.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/7.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/8.jpg' %}');">
          </div>
        </div>
      </div>

      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/9.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/10.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/11.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/12.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/13.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/14.jpg' %}');">
          </div>
        </div>
      </div>
      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/15.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/16.jpg' %}');">
          </div>
        </div>
      </div>

      <div class="box-item col-md-4">
        <div class="flip-box">
          <div class="flip-box-front text-center" style="background-image: url('{% static 'images/pics/17.jpg' %}');">
          </div>
          <div class="flip-box-back text-center" style="background-image: url('{% static 'images/pics/18.jpg' %}');">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}