{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}

<style>
  .img-resize {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center center;
  }
</style>
<div class="container">
  <div class="center text-center justify-content-center align-center">
    <img src="{% static 'images/athenova.png' %}" class="img-athenova" alt="">
    <div class="text-athenova">
      FITNESS | COMMUNITY | EMPOWERMENT
      <br>
      Pune
    </div>
  </div>

  <div class="marquee mt-3">
    <ul class="marquee-content">
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga1.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/pole2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/boxing3.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga1.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/pole2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/boxing3.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga1.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/yoga2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/pole2.jpg' %}"
          alt=""> </li>
      <li style="margin-right: 1%;"><img class="img-resize" src=
        "{% static 'images/programmes/boxing3.jpg' %}"
          alt=""> </li>
    </ul>
  </div>
</div>

    {% endblock %}