{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
<!-- <div class="text-center" style="color: white;">Making Fitness Goals Accessible and Achievable -->
</div>
<div class="container-fluid">
  <div class="container">
    <div class="center text-center justify-content-center align-center" style="height: 90vh;">
      <img src="{% static 'images/athenova.png' %}" class="img-athenova" alt="">
      <div class="text-athenova">
        FITNESS | COMMUNITY | EMPOWERMENT
        <br>
        Pune
      </div>
    </div>
    <!-- <div class="fh5co-banner-text-box">
      <div class="quote-box pl-5 pr-5 wow bounceInRight">
        <h2> Athenova Fit<br><span>Best Gym</span> </h2>
      </div>
      <a href="#" class="btn text-uppercase btn-outline-danger btn-lg mr-3 mb-3 wow bounceInUp"> Join Us</a> <a href="#"
        class="btn text-uppercase btn-outline-danger btn-lg mb-3 wow bounceInDown"> Gymbees</a>
    </div> -->
  </div>
</div>





{% endblock %}