{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
<style>
  .image-resize {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
  .color-white{
    color: white;
  }
  .lazy{
    background-blend-mode: lighten;
  }
</style>
<div class="container">
  <h1 style="color:  #e6b58d;font-size:3rem;font-family: amanda;" class="text-center mt-3"> What We Offer </h1>
  <div class="box-container">
    <div class="row justify-content-center" style="font-family: amanda;color:  white;">

      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/1.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Corporate Workshops</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/2.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Corporate Workshops</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/4.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Pilates</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/3.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Pilates</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/12.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Pole Condition</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/6.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Pole Condition</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/7.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">MMA</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/8.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">MMA</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/9.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Kickboxing</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/10.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Kickboxing</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item col-xl-4">
        <div class="flip-box">
          <div class="flip-box-front text-center lazy" style="background-image: url('{% static 'images/prog/11.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Yoga</h3>
              <img src="{% static 'images/arrow.png' %}" alt="" class="flip-box-img">
            </div>
          </div>
          <div class="flip-box-back text-center lazy" style="background-image: url('{% static 'images/prog/5.jpg' %}');">
            <div class="inner color-white">
              <h3 class="flip-box-header">Yoga</h3>
              <a href="{% url 'contact' %}" style="text-decoration: none;">
                <button class="flip-box-button">Join Us</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="font-family: amanda;">

    <h1 style="color:  #e6b58d;" class="text-center my-3">Skills and Certification</h1>
    <div class="row">

      <div class="col-md-8 col-sm-12 col-12">
        <p class="lead" style="color:  #e6b58d; font-size: 1.5rem;">Performance and services based on certifications</p>

        <ul style="font-size: 1rem;">
          <li class="lead" style="color:  #e6b58d;">
            Certification by APPI Matwork and reformer 3D anatomy
          </li>
          <li class="lead" style="color:  #e6b58d;">
            Certification for PT ACE Fitness
          </li>
          <li class="lead" style="color:  #e6b58d;">
            Nutrition MIFI India
          </li>
          <li class="lead" style="color:  #e6b58d;">
            Official partner All India Mixed Martial Arts Federation
          </li>
          <li class="lead" style="color:  #e6b58d;">
            Official partner with MMA Syndicate India
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <img src="{% static 'images/allindiamartialarts.png' %}" class="image-resize" alt="">
        </div>
        <div>
          <img src="{% static 'images/mma.png' %}" class="image-resize" alt="">
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <img src="{% static 'images/mifi.png' %}" class="image-resize" alt="">
        </div>
        <div>
          <img src="{% static 'images/aPPI.png' %}" class="image-resize" alt="">
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}